# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unit 5 Worksheets.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mpari\Documents\coding projects\C++\Unit 5 Functions\Unit 5 Worksheets\.idea\.idea.Unit 5 Worksheets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
